@import '../../app/scss/mixins';
@import '../../app/scss/colors';

select {
  border: 1px solid $black;
  border-radius: 7px;
  background-color: transparent;
  width: 100%;
  height: 47px;
  padding: 5px;
  margin: 5px;
  &:focus {
    outline: none;
    background-color: $white;
  }
}