@import '../../app/scss/mixins';
@import '../../app/scss/colors';

.button {
  background-color: $black;
  color: $white;
  border: 1px solid $black;
  border-radius: 7px;
  width: 120px;
  height: 40px;
  padding: 5px;
  margin: 5px;

  &:hover {
    background-color: $blue-2;
    color: $black;
    cursor: pointer;
  }

}




