@import '../../app/scss/mixins';
@import '../../app/scss/colors';

input {
  border: 1px solid $black;
  border-radius: 7px;
  background-color: transparent;
  color: $black;
  width: 100%;
  padding: 5px;
  margin: 5px;

  &:focus {
    outline: none;
    background-color: $white;
  }

  &::placeholder {
    padding-left: 7px;
  }

}