$primary: #2c7f98;
$black: #032936;
$white: #d4e7f0;
$blue-7: #478186;
$blue-2: #9fcacc;
$blue-4: #7aabaa;
$white-full: #ffffff;
$grey-1: #c4c4c4;
$grey-2: #BEB1B0;
$grey-3: #A3949D;
$grey-4: #A3A4A1;
$Logo-1: #193a82;
$Logo-2: #727271;
$grey-7: #eaeaea;





