@import '../../app/scss/mixins';
@import '../../app/scss/colors';

.cocktail {
  max-width: 100%;
  color: $black;
  padding-bottom: 50px;

  &__back-link {
    display: inline-block;
    margin-bottom: 20px;
    @include link-black;
    @include body-lg;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
  }

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;

    &-left {
      width: 600px;
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: space-start;
      gap: 15px;

      &-title {
        @include title-h3;
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 30px;

    &-item {
      @include title-h5;
    }
  }

}